/* stone 테마 */

/* 다크 or 라이트 테마 공통 변수 */
:root {
  --primary: #264d00; /* 메인 녹색 */
  --primary-hover: #1a3300; /* 호버 시 조금 더 진한 녹색 */

  --muted: #8a8781;

  --tag-foreground: #475569; /* 더 진한 회색 */
  --tag-hover: #e2e8f0; /* 호버 효과용 */

  /* ThemeSwitcher */
  --theme-switcher-light: #fbbf24; /* 노란색 */
  --theme-switcher-light-hover: #f59e0b; /* 주황색 */
  --theme-switcher-dark: #4c1d95; /* violet-900 */
  --theme-switcher-dark-hover: #2e1065; /* violet-950 */
}

/* light mode only */
:root {
  --background: #ffffff; /* white */
  --background-secondary: #f5f5f4; /* stone-100 */
  --foreground: #1c1917; /* stone-900 */

  --border: #e5e5e5;

  --tag-background: #f1f5f9; /* 더 부드러운 회색 */

  --card-background: #ffffff;
  --code-block-background: #f9fafb;
  --code-inline-background: #f3f4f6;
}

.dark {
  --background: #1c1917; /* stone-900 */
  --background-secondary: #0c0a09; /* stone-950 */
  --foreground: #f5f5f4; /* stone-50 */

  --border: #3f3c39; /* stone-800 */

  --card-background: #1a1816;
  --code-block-background: #272522;
  --code-inline-background: #32302c;

  --tag-background: #e0e4e8; /* 라이트 모드보다 약간 어두운 회색 */
}
